body {
  background-color: #111;
  color: #eee;
  font-family: monospace;
  padding: 20px;
}

#log {
  height: 70vh;
  overflow-y: auto;
  background: #222;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background: #333;
  border: none;
  color: white;
  border-radius: 5px;
}
